#line-break { /* # id tag selection */
  margin-top: 30px;
  margin-bottom: 30px;
  height: 15px;
  width: 900px;
  background-image:url(img/hr-img.png);
}
body{
  width: 900px;
  margin:0 auto;

}

nav{
  display:flex; /* nav would have been a block level element, everything on top of each other, instead everything is next to each other */
  margin:20px 0;
}

#header-logo{
  margin-right: 10px;
}

#nav-right {
  float: right;
}

#more-right {
  margin-right: 300px;
}

#paper-list {
  z-index: -1;
  position: absolute;
  left: 0px;
  top: 0px;
}

#ingredients {
  position: relative;
}

form {
  z-index: 1;
  position: relative;
  left: 0px;
  top: 0px;
}

.column-one {
  float: left;
  width: 50%;
}

.column-two {
  float: right;
  width: 50%;
}